.options-wrapper {
   position: relative;
   border: 1px solid gray;
   padding: 10px 0px 10px 12px;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   gap: 8px;
   cursor: pointer;
   background: #f0f0f0;

   .option-top-text {
      font-size: 12px !important;
      font-weight: 400 !important;
      line-height: 18px;
      margin-left: 35px;
   }

   .option-main-text {
      color: gray;
      display: flex;
      align-items: center;
      width: 100%;

      //  justify-content: space-between;
      .option-text-internal {
         margin-left: 12px;
      }
   }

   .options {
      color: gray;
      position: absolute;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 8px 4px 5px 2px #0000004a, -4px -4px 5px 2px #0000004d;
      width: 100%;
      top: 50px;
      z-index: 9999;
      left: 0px;

      .option-item {
         display: flex;
         justify-content: space-between;
         margin: 10px;

         .option-counter {
            display: flex;
            align-items: center;
            gap: 10px;

            .option-counter-number {
               width: 30px;
               text-align: center;
            }

            .option-counter-button {
               height: 35px;
               width: 35px;
               color: white;
               background: #4caf50;
               border: 2px solid green !important;
               cursor: pointer;
               border-radius: 50% !important;
               display: inline-flex;
               justify-content: center;
               align-items: center;

               &:disabled {
                  cursor: not-allowed;
               }
            }
         }
      }
   }

   .search-button {
      padding: 10px 14px;
      color: black;
      background-color: lightgray;
      border-radius: 12px;
      border: none;

   }
}